[Desktop Entry]
Type=Application
Name=fiveleds GUI
Exec=fiveleds-gui
Terminal=false
Icon=fiveleds
Categories=Application;Other
Comment=LED Display Control Software
