[Desktop Entry]
Type=Application
Name=sixleds GUI
Exec=sixleds-gui
Terminal=false
Icon=/usr/share/pixmaps/sixleds/sixleds-icon.png
Categories=Application;Utility
Comment=LED Display Control Software
